// $BASE_URL: 'http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini%2Ficon-battery.png';

.icon-battery {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-battery.gif")
    no-repeat;
  background-size: cover;
}

.icon-call {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-call.png")
    no-repeat;
  background-size: cover;
}

.icon-close {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-close.png")
    no-repeat;
  background-size: cover;
}

.icon-go {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-go.png")
    no-repeat;
  background-size: cover;
}

.icon-local {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-local.png")
    no-repeat;
  background-size: cover;
}

.icon-location {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-location.png")
    no-repeat;
  background-size: cover;
}

.icon-maker {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-maker.png")
    no-repeat;
  background-size: cover;
}

.icon-scan {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-scan.png")
    no-repeat;
  background-size: cover;
}

.icon-shop {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-shop.png")
    no-repeat;
  background-size: cover;
}

.icon-tel {
  background: url("http://wd-qidian.oss-cn-beijing.aliyuncs.com/mini/icon-tel.png")
    no-repeat;
  background-size: cover;
}

.line-color{
	background: linear-gradient(bottom, #1EA1F0, #22A6F1);
	background: -webkit-gradient(linear, top, bottom, from(#1EA1F0), to(#22A6F1));
}